node_modules/
target/
dist/
.angular/
__pycache__/
*.pyc
*.log
frond/src/assets/cv/uploads/
frond/src/assets/images/uploads/
ia-service/libs/
frond\node_modules/
frond\dist/
frond\.angular/
frond\src\assets\cv\uploads/
frond\src\assets\images\uploads/
frond/.angular/
.angular/
